<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h2>404 Not found</h2>
            <p role="alert">Sorry, there's nothing at this address.</p>
            <p role="alert">Strona o podanym adresie nie istnieje.</p>
        </LayoutView>
    </NotFound>
</Router>
